<!DOCTYPE html>
<html>
<head>
	<title>Feeding America</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
	<h1 class="MainTitle"> Feeding America </h1>
	<div class="NavBar">
		<div class="navBarElement">HELLO</div>
		<div class="navBarElement">HELLO</div>
		<div class="navBarElement">HELLO</div>
		<div class="navBarElementFinal">HELLO</div>
	</div>
</body>
</html>
