a{
	color: black;
}
.divTitle{
	background-image: url('../images/amerMap.png');
}
.NavBar{
	position: fixed;
	width: 100%;
	background-color: #234C6A;
	opacity: 0.4;
	margin: 0 auto;
	top:0;
	left:0;
}
.MainTitle{
	width: 70%;
	margin-top: 4%;
	text-align: center;
	font-size: 80pt;
	font-family: bolder;	
	padding: 20%;
	margin-bottom: 0px;
}
.slideShowImage{
	height: 700px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	z-index: -1;
}
#arrowContainer{
	width: 100%;
	z-index: 10;
	margin: 0 auto;
}
#spacer{
	width:80%;
}
#leftArrow{
	z-index: 10;
	width: 10%;
	position: absolute;
	top: 145%;
}
#rightArrow{
	z-index: 10;
	width: 10%;
	position: absolute;
	top: 145%;
	left: 89%;
}
.navBarElement{
	width: 25%;
	float: left;
	text-align: center;
	font-size: 25pt;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navBarElement:hover{
	color: lightblue;
}

#thridBox{
	width: 85%;
	margin: 0 auto;
}
.WOW{
	font-size: 25pt;
	text-align: center;;
	width: 66%;
}